.user-list {
    display: flex;
    justify-content: space-around;
    border: 1px solid #aaa;
    margin: 0;
    padding: 10px;
    list-style: none;
}

.user-list-head {
    font-size: 20px;
    font-weight: 800;
}

.navlist {
    list-style: none;
    /* bullets hatado */
    display: flex;
    /* horizontal layout */
    gap: 500px;
    /* items ke beech gap */
    background-color: #f1f1f1;
    /* nav ka background */
    padding: 10px 20px;
    margin: 0;
}

.navlist li {
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navlist li:hover {
    color: #61dafb;
    /* hover par light blue */
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
    color: #333;
    margin-bottom: 10px;
}

.form-container input {
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-container button {
    padding: 10px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.form-container button:hover {
    background-color: #45a049;
}